
body {
    padding: 0;
    margin: 0;
}

.content {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh; 
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: 20px;

    font-size: 4vw;
    color: #123641;
    background-color: rgba(255, 255, 255, 0.685);
}

.clickedNavBtn {
    color: #c63c53;
    text-decoration: underline;
}

.navbar li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 5vw;
    padding-left: 35px;
}



.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: auto;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.home h1 {
    font-size: 9vw;
}

.home p {
    font-size: 5vw;
}

.home h1,
.home p {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    margin: 0;
}
.home button {
    background: none;
    cursor: pointer;
	color: inherit;
	border: solid;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
	font: inherit;
    text-align: center;

    font-size: 7vw;
}

.home h1,
.home p,
.home button {
    color: #f0eee9;
}

.menu,
.contact {
    margin: auto;
    margin-top: 15vh;
    width: 80vw;

    background-color: #f0eee9;
    
}

.menu-category {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-category h1 {
    margin: 0;
    padding: 80px 0px 80px 0px;
    background-size: 80vw auto;
    background-position: center;
    font-size: 10vw;
    color: white;
}

.items-list {
    margin: 5vw 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.items-list h2,
.items-list p {
    margin: 0;
    padding: 0;
    color: black;
}

.item-list h2 {
    font-size: 2vw;
}

.items-list p {
    font-size: 1vw;
}

.item {
    flex: 0 0 calc(16.66% - 20px);
}

.contact {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 3vw;
}

.contact-item p,
.contact-item h1 {
    margin: 0;
    padding: 0;
}

.contact .map {
    grid-row: 1 / -2;
    background-color: white;
}

.contact-item:last-child {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: rgb(65, 65, 255);
}



.footer {
    background-color: #0a1e24;
    box-shadow: 0px -5px 5px #0a1e24;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    font-size: 1vw;
}

.footer img {
    height: 2.5vw;
    width: 2.5vw;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(24deg) brightness(103%) contrast(106%);
    transition: transform 0.15s;
}

.footer img:hover {
    transform: scale(1.1);
}

.footer img:active{
    transform: scale(1);
}
